@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* Font family template */
/* {
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
} */

:root {
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /*  graphic design text */
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);

  /* Fonts */
  --styling-font: "Fraunces", serif;
  --main-font: "Barlow", sans-serif;

  /* Font weight */
  --bold: 900;
  --medium: 700;
  --main: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: var(--main-font);
  font-size: 18px;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

/* Header section */

nav {
  position: fixed;
  background: #3ebfff;
  z-index: 3;
  width: 100%;
  height: 80px;
  padding: 30px;
  transition: 0.5s;
}

.nav-list {
  visibility: hidden;
  position: absolute;
  left: 7.5%;
  bottom: -350px;
  background-color: white;
  width: 85%;
  padding: 40px 0;
  transform: scale(0);
  transform-origin: top right;
  transition: 0.3s;
}

.nav-list a {
  color: var(--very-dark-grayish-blue);
}

.nav-list::before {
  content: "";
  position: absolute;
  border-bottom: 30px solid white;
  border-left: 30px solid transparent;
  top: -30px;
  right: 0px;
}

.nav-item {
  padding: 20px;
  text-align: center;
  transition: 0.2s ease-in;
}

nav ul {
  opacity: 0;
  transition: 0.3s;
}

.nav-item-active {
  opacity: 1;
}

.nav-active {
  visibility: visible;
  transform: scale(1);
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  background: #f3f3f3;
}

.nav-contact {
  background: var(--yellow);
  width: 35%;
  margin: 5px auto;
  padding: 15px;
  border-radius: 50px;
  transition: 0.5s;
}

.nav-contact a {
  color: black;
  font-family: var(--styling-font);
  font-size: 1rem;
  text-transform: uppercase;
}

a:hover > .nav-contact {
  width: 100%;
  border-radius: 0;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 9rem;
}

.hamburger {
  width: 1.8rem;
  cursor: pointer;
}

.ham-active {
  opacity: 50%;
  position: absolute;
  right: -40px;
  padding: 10000px;
  padding-right: 40px;
  box-sizing: content-box;
}

/* Hero section */

.hero {
  position: relative;
}

.arrow,
.statement {
  position: absolute;
}

.statement {
  font-family: var(--styling-font);
  font-weight: var(--bold);
  font-size: 3rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  top: 25%;
  left: 10%;
}

.arrow {
  width: 3rem;
  top: 50%;
  left: calc(50% - 1.5rem);
}

.hero-image {
  width: 100%;
}

/* Persuade section */

.persuade {
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
  line-height: 1.5;
}

.persuade img {
  width: 100%;
}

.persuade h2,
.persuade button a {
  font-family: var(--styling-font);
  font-weight: var(--bold);
  color: var(--very-dark-desaturated-blue);
}

.persuade h2 {
  font-size: 2rem;
  margin: 20px;
}

.persuade button {
  position: relative;
  background: transparent;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  margin: 30px;
}

.persuade button::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 5px solid;
  border-radius: 10px;
  left: -5px;
  bottom: -3px;
  z-index: -1;
}

.transform button::before {
  opacity: 30%;
  color: var(--yellow);
  transition: 0.3s;
}

.stand-out button::before {
  opacity: 30%;
  color: var(--soft-red);
  transition: 0.3s;
}

.transform button:hover::before {
  opacity: 1;
}

.stand-out button:hover::before {
  opacity: 1;
}

.transform div,
.stand-out div {
  margin: 30px;
}

/* Skill section */

.skill {
  color: var(--dark-desaturated-cyan);
}

.skill img {
  width: 100%;
}

.graphic-design,
.photography {
  position: relative;
}

.graphic-design div,
.photography div {
  position: absolute;
  width: 100%;
  bottom: 100px;
  padding: 0 30px;
  text-align: center;
}

.skill h2 {
  font-family: var(--styling-font);
  font-weight: var(--bold);
  font-size: 2rem;
  margin-bottom: 40px;
}

/* Testimonial section */

.testimonial {
  text-align: center;
  margin: 50px 30px;
  color: var(--grayish-blue);
}

.testimonial h2 {
  font-family: var(--styling-font);
  font-weight: var(--bold);
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.testimonial img {
  margin: 50px auto;
  width: 100px;
  border-radius: 50%;
}

.testimonial p {
  color: var(--very-dark-grayish-blue);
  margin-bottom: 30px;
}

.person {
  font-family: var(--styling-font);
  font-weight: var(--bold);
  color: var(--very-dark-desaturated-blue);
  line-height: 50px;
}

/* Gallery section */

.set-one,
.set-two {
  display: flex;
}

.gallery img {
  width: 100%;
}

/* Footer section */

footer {
  /* color: var(--dark-desaturated-cyan); */
  background-color: #6bcbfe;
  padding: 60px 40px;
  text-align: center;
}

.footer-logo {
  width: 250px;
  background-clip: text;
  margin: 0 auto;
  margin-top: 20px;
}

footer ul {
  display: flex;
  margin: 50px 0;
}

.footer-link {
  width: 100%;
  font-size: 1.25rem;
  justify-content: space-between;
}

.contact-link {
  justify-content: center;
  margin-top: 100px;
}

.contact-link li {
  margin: 15px;
  transition: 0.3s;
}

.contact-link img {
  width: 25px;
}

footer a {
  color: var(--dark-moderate-cyan);
  font-weight: var(--medium);
}

footer a:hover {
  color: white;
  transition: 0.3s;
}

.contact-link li:hover {
  fill: white;
  padding: 10px;
  padding-top: 0;
  transform: scale(1.5);
}

@media (min-width: 601px) {
  body {
    font-size: 1.25rem;
  }

  nav {
    padding: 35px;
    height: 100px;
  }

  .nav-list {
    left: 7.5%;
    bottom: -420px;
    width: 85%;
    padding: 60px 0;
  }

  .logo {
    width: 11rem;
  }

  .hamburger {
    width: 2rem;
  }

  .statement {
    font-size: 4.25rem;
    line-height: 1.5;
  }

  .persuade h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .persuade p {
    margin-bottom: 30px;
    padding: 0 50px;
  }

  .persuade button {
    font-size: 1.25rem;
  }

  .stand-out div,
  .transform div {
    height: 500px;
    padding-top: 70px;
  }

  .skill {
    font-size: 1.25rem;
  }

  .skill h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .graphic-design div,
  .photography div {
    bottom: 100px;
    padding: 0 40px;
  }

  .testimonial {
    padding: 0 50px;
  }

  .testimonial h2 {
    font-size: 1.5rem;
    margin: 70px;
  }

  .testimonial img {
    width: 120px;
  }

  .person {
    font-size: 1.5rem;
    line-height: 3;
  }

  .footer-link {
    width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 951px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    /* width: 100vw; */
    height: 100px;
    z-index: 3;
  }

  .nav-list {
    display: flex;
    position: relative;
    justify-content: flex-end;
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    width: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin-left: 650px;
  }

  .nav-list::before {
    visibility: hidden;
  }

  .nav-item {
    color: white;
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-radius: 25px;
  }

  .nav-contact {
    color: var(--very-dark-desaturated-blue);
    background: white;
    width: 100%;
    padding: 10px;
  }

  .nav-contact:hover {
    color: white;
    background-color: skyblue;
    border-radius: 25px;
  }

  .nav-link:hover {
    background-color: transparent;
    color: var(--very-dark-desaturated-blue);
  }

  a:hover > .nav-contact {
    border-radius: 25px;
  }

  .hamburger {
    visibility: hidden;
  }

  .hero-image {
    width: 100vw;
  }

  .statement {
    font-size: 3.5rem;
  }

  .transform,
  .stand-out {
    display: flex;
    align-items: center;
  }

  .transform {
    flex-direction: row-reverse;
  }

  .transform img,
  .stand-out img {
    height: 100%;
    width: 50vw;
  }

  .persuade .transform,
  .persuade .stand-out {
    width: 100vw;
  }

  .persuade h2 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0 50px;
  }

  .persuade p {
    margin-bottom: 10px;
    padding: 0 50px;
  }

  .persuade button {
    font-size: 1rem;
  }

  .stand-out div,
  .transform div {
    padding-top: 20px;
    height: 300px;
    width: 50vw;
    margin: 0;
  }

  .skill {
    display: flex;
    width: 100vw;
  }

  .graphic-design,
  .photography {
    width: 50vw;
  }

  .skill h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .graphic-design div {
    bottom: 50px;
  }

  .photography div {
    bottom: 70px;
  }

  .testimonial {
    padding: 0 50px;
  }

  .testimonial div {
    display: flex;
  }

  .testimonial h2 {
    font-size: 1.5rem;
    margin: 70px;
  }

  .testimonial p {
    padding: 0 20px;
  }

  .testimonial img {
    width: 100px;
  }

  .person {
    font-size: 1.25rem;
    line-height: 3;
  }

  .gallery {
    display: flex;
    width: 100vw;
  }

  footer {
    width: 100vw;
  }

  .footer-link {
    justify-content: center;
  }

  .footer-link li {
    margin: 0 30px;
  }
}
